body    {
        background-color: aliceblue;
    }

h1      {
        color:black;
        font-family: Tahoma, Verdana, Geneva, sans-serif;
        font-size: 400%;
        line-height: 30px;
    }

h2      {
        color: black;
        font-style: normal;
        font-weight: normal;
        font-family: Tahoma, Verdana, Geneva, sans-serif;
        font-size: 200%;
        line-height: 12px;
    }

h3      {
        color:black;
        font-style: normal;
        font-weight: normal;
        font-family: Tahoma, Verdana, Geneva, sans-serif;
        font-size: 175%;
        line-height: 30px;
    }

p       {
        color:black;
        font-family: Tahoma, Verdana, Geneva, sans-serif;
        font-size: 110%;
        line-height: 12px;
    }

.bottom-two {
            margin-bottom: 2cm;
            text-align: center;
        }

.c      {
        text-align: center;
    }

.cb     {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

a:link  {
        color: black;
        text-decoration: none;
        }

a:visited  {
        color: black;
        text-decoration: none;
    }

a:hover  {
        color: black;
         text-decoration: underline;
        }

div.left {
            position: fixed;
            bottom: 25%;
            right: 25%;
            width: 100%;
        }

.pic-center {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        }

.pic-center-right {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 75%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        }

.pic-center-left {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 25%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    }